*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    text-align: center;
    font-size: 60px;
}
h3{
    font-size: 32px;
}
#ai{
    text-align: center;
}
body{
    background-image: linear-gradient(135deg,green,white,blue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.container{
    /* border: solid 4px red; */
    height: 400px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button{
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 2px;
}
#picture-holder1 , #picture-holder2{
    /* border: solid 4px red; */
    border-radius: 15px;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background-image: url(./Images/Rock-paper-scisssors.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#computer-div , #player-div{
    /* border: solid 4px red; */
    text-align: center;
    width: 200px;
    margin: 10px;
}
.name-tag{
     /* border: solid 4px red; */
     border-radius: 15px;
    margin-bottom: 5px;
    font-size: 24px;
    text-align: center;
    background-color: darkblue;
    color: aliceblue;
    padding: 0px 10px;
}
#progress1{
    font-size: 20px;
}
#player-actual-score , #computer-actual-score{ 
    font-size: 48px;
}
span{
    /* border: solid 4px red; */
    font-size: 26px;
}
.p-score{
    /* border: solid 4px red; */
    text-align: center;
    font-size: 26px;
}
p{
    font-size: 22px;
}
.scores , .progress{
    /* border: solid 4px red; */
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
}
.scores + .progress{
    height: 100px;
}
.score-and-progress{
    /* border: solid 4px red; */
    margin: 10px;
    height: 270px;
    margin-left: 30px;
    margin-right: 30px;
}
#Rock1{
    background-color: royalblue;
    color: white;
}
#Paper1{
    background-color: blue;
    color: white;
}
#Scissors1{
    background-color: royalblue;
    color: white;
}
.win-or-loss{
    /* border: solid 4px red; */
    font-size: 40px;
}